<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8">
<title>회원 등록</title>

</head>
<body>
	<div layout:fragment="content">

			<section class="log">

				<div class="list-group" style="width:200px;text-align:center; margin:0 auto; font-size:25px;font-family: 'Do Hyeon', sans-serif;">
					<a href="/user/bmi" class="list-group-item list-group-item-action">B M I</a> 		
					<a href="/user/lotto" class="list-group-item list-group-item-action list-group-item-primary">로 또</a> 
					<a href="#"	class="list-group-item list-group-item-action list-group-item-secondary">숫 자 야 구</a>
					<a href="#"	class="list-group-item list-group-item-action list-group-item-success">섯 다</a> 
					<a href="/user/calc"	class="list-group-item list-group-item-action list-group-item-danger">계 산 기</a> 

				</div>
			</section>



	</div>
</body>
</html>