<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<body>
	<div id="global-footer" layout:fragment="footer">
		<footer>
			<ul>
				<li>H.Maker<br>즐겁게 살자<br>황성윤
				</li>
				<li><span>A:</span>경북 구미시 구미중앙로 45길<br> <span>T:</span>010-1988-0701<br>
					<span>E:</span>dlskd1@naver.com<br></li>
				<li>ⒸHStudio 2021.<br> All Rights Reseved.
				</li>
			</ul>
			<a href="#" class="goTop"><span class="lnr lnr-arrow-up"></span></a>
		</footer>
	</div>
</body>
</html>