<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8">
<title>Quiz</title>

</head>
<body>
	<div layout:fragment="content">
			<section class="log" style="text-align:center;font-size:30px;">
				<div id = "quiz"></div>
				<div id="question"></div>
				<div><input type="text" id="answer" style="width:250px;"></div>
 				<div id="etc"></div>
				<div>
					<button class="btn btn-secondary" id="button">다음 문제</button>
					<form th:action="@{/user/quiz_result}" method="get">
						<input type = "hidden" id="count" name="count" value="0">
						<input type = "hidden" name="subject" value="nonsense">
						<input type = "hidden" name="score" id = "score">
						<button class="btn btn-secondary" type="submit" id="submit_btn">랭킹 확인</button>
					</form>
				</div>
				
			</section>	
	</div>
</body>
</html>

<script th:inline="javascript">
//<![CDATA[
	var btn = document.getElementById('button');
	var number = 0;
	var count = 0;
	var aList = /*[[${questionList}]]*/[];
	
	/* 문제 출력 함수 */
	function updateQuiz(){
		var question = aList[number].question;
		var idx = number +1;
		//문제 출력
		document.getElementById("question").innerHTML=(idx)+"/"+(aList.length)+"  "+question+"??";
		document.getElementById("submit_btn").style="display:none;";
	}
	// 입력 및 정답 확인 함수

		
	btn.addEventListener('click', function(){	
		var re =document.getElementById("answer").value;
		if (re==aList[number].answer){	
        	count++;     	
        	document.getElementById("count").value=count; 
        }		
		if (number+1<aList.length){
			document.getElementById("answer").value = "";
			number++;
			updateQuiz();
		}
		else {
			result();
		}
	});
	
	function result(){
		 var quizDiv = document.getElementById('quiz');
		   var score = parseInt((count * 100) / aList.length);
		   document.getElementById("score").value= score;
		   var txt = '<h1>결과</h1>' + '<h2 id="score">당신의 점수: ' + count + '/' + aList.length + '<br><br>' + score + '점' + '</h2>';
		   quizDiv.innerHTML = txt;
		   document.getElementById("question").style="display:none;";
		   document.getElementById("answer").style="display:none;";
		   document.getElementById("button").style="display:none;";
	       document.getElementById("submit_btn").style="display:inline;";
		   // 점수별 결과 텍스트
		   if (score < 60) {
		      txt += '<h2>더 분발하세요</h2>';
		      quizDiv.innerHTML = txt;
		   } else if (score >= 60 && per < 80) {
		      txt += '<h2>무난한 점수네요</h2>'
		      quizDiv.innerHTML = txt;
		   } else if (score >= 80) {
		      txt += '<h2>훌륭합니다</h2>'
		      quizDiv.innerHTML = txt;
		   }
	}
	updateQuiz();
//]]>
</script>
