<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">

<title>Item Bank</title>

</head>
<body>
	<div layout:fragment="content">
		<section class="visual">
			<ul class="slide">
				<li><img src=images/visual4.jpg alt="코딩">
					<div class="txt">
						<p>Solve a Quiz</p>
										
						<h3>
							How many <br>do you know?<br>Write your Answer
						</h3>
						<span sec:authorize="isAnonymous()"><a th:href="@{/user/login}">Sign In<span class="lnr lnr-chevron-right"></span></a></span><br>
						<span sec:authorize="isAnonymous()"><a th:href="@{/user/register}">Sign up<span class="lnr lnr-chevron-right"></span></a></span>
						<span sec:authorize="isAuthenticated()"><a th:href="@{/user/logout}">로그아웃</a></span>
					</div> <span class="scroll">Scroll Down</span></li>
				<li><img src="images/visual6.jpg" alt="코딩">
					<div class="txt">
						<p>Solve a Quiz</p>
						<h3>
							How many <br>do you know?<br>Write your Answer
						</h3>
						<span sec:authorize="isAnonymous()"><a th:href="@{/user/login}">Sign In<span class="lnr lnr-chevron-right"></span></a></span><br>
						<span sec:authorize="isAnonymous()"><a th:href="@{/user/register}">Sign up<span class="lnr lnr-chevron-right"></span></a></span>
						<span sec:authorize="isAuthenticated()"><a th:href="@{/user/logout}">로그아웃</a></span>
					</div> <span class="scroll">Scroll Down</span></li>
				<li><img src="images/visual3.jpg" alt="코딩">
					<div class="txt">
						<p>Solve a Quiz</p>
						<h3>
							How many <br>do you know?<br>Write your Answer
						</h3>
						<span sec:authorize="isAnonymous()"><a th:href="@{/user/login}">Sign In<span class="lnr lnr-chevron-right"></span></a></span><br>
						<span sec:authorize="isAnonymous()"><a th:href="@{/user/register}">Sign up<span class="lnr lnr-chevron-right"></span></a></span>
						<span sec:authorize="isAuthenticated()"><a th:href="@{/user/logout}">로그아웃</a></span>
					</div> <span class="scroll">Scroll Down</span></li>
			</ul>
		</section>

		<!--   contents     -->
		<section class="contents">
			<div class="mainText animate" data-animate="fadeInUp"
				data-duration="1s" data-delay="0s">
				<h3>
					Great experience <br> build great brands.
				</h3>
				<p>
					홈페이지에서 사용한 것은<br class="mo"> 자바 기반의 스프링 프레임워크(Spring Data JPA)와<br class="mo"> 
					html, javascript, jquery를 이용했으며<br class="mo"> bootstrap, 구글폰트를 사용하였습니다. <span>TSTUDIO</span>
				</p>
			</div>
			<div class="project">
				<div class="top">
					<h3 class="animate" data-animate="fadeInRight" data-duration="1s"
						data-delay="0s">
						Solve <br>Our Quiz
					</h3>
					<a href="#">More Questions<span class="lnr lnr-chevron-right"></span></a>
				</div>
				<ul class="animate" data-animate="fadeInUp" data-duration="1s"
					data-delay="0s">
					<li><a th:href="@{/user/quiz/capital}"> <img src="images/project1.jpg" alt="수도">
							<div class="name">
								<span>Subject</span>
								<h3>Capital</h3>
							</div>
					</a></li>
					<li><a th:href="@{/user/quiz/bmi}"> <img src="images/project2.jpg" alt="일반상식">
							<div class="name">
								<span>Subject</span>
								<h3>Trivia</h3>
							</div>
					</a></li>
					<li><a th:href="@{/user/quiz/proverb}"> <img src="images/project3.png" alt="속담">
							<div class="name">
								<span>Subject</span>
								<h3>Proverb</h3>
							</div>
					</a></li>
					<li><a th:href="@{/user/quiz/nonsense}"> <img src="images/project4.jpg" alt="넌센스">
							<div class="name">
								<span>Subject</span>
								<h3>Nonsense</h3>
							</div>
					</a></li>
				</ul>
			</div>
			<div class="partner">
				<h3>사이트 모음</h3>
				<ul class="animate" data-animate="fadeInLeft" data-duration="2s"
					data-delay="0s">
					<li><img src="images/partner1.png" alt=""></li>
					<li><img src="images/partner2.png" alt=""></li>
					<li><img src="images/partner3.png" alt=""></li>
					<li><img src="images/partner4.png" alt=""></li>
					<li><img src="images/partner5.png" alt=""></li>
					<li><img src="images/partner6.png" alt=""></li>
					<li><img src="images/partner7.png" alt=""></li>
					<li><img src="images/partner8.png" alt=""></li>
				</ul>
			</div>
			<div class="contact animate" data-animate="fadeIn" data-duration="2s"
				data-delay="0s">
				<div class="inner">
					<h3>당신의 프로젝트를 이야기해 주세요.</h3>
					<p class="tel">010.1988.0701</p>
					<p>
						모다일 앱/웹 디자인 및 웹 표준화 작업 <br> UI/UX설계 및 제안서 작성<br> 워드프레스
						기반 웹사이트 구축 등을 제공합니다.
					</p>
				</div>
			</div>
		</section>
	</div>
	</div>
</body>
</html>