<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">

<title>Item Bank</title>

</head>
<body>
	<div layout:fragment="content">
		<section class="visual">
			<ul class="slide">
				<li><img src=images/visual4.jpg alt="코딩">
					<div class="txt">
						<p>Solve a Quiz</p>
										
						<h3>
							How many <br>do you know?<br>Write your Answer
						</h3>
						<span sec:authorize="isAnonymous()"><a th:href="@{/user/login}">Sign In<span class="lnr lnr-chevron-right"></span></a></span><br>
						<span sec:authorize="isAnonymous()"><a th:href="@{/user/register}">Sign up<span class="lnr lnr-chevron-right"></span></a></span>
						<span sec:authorize="isAuthenticated()"><a th:href="@{/user/logout}">로그아웃</a></span>
					</div> <span class="scroll">Scroll Down</span></li>
				<li><img src="images/visual6.jpg" alt="코딩">
					<div class="txt">
						<p>Solve a Quiz</p>
						<h3>
							How many <br>do you know?<br>Write your Answer
						</h3>
						<span sec:authorize="isAnonymous()"><a th:href="@{/user/login}">Sign In<span class="lnr lnr-chevron-right"></span></a></span><br>
						<span sec:authorize="isAnonymous()"><a th:href="@{/user/register}">Sign up<span class="lnr lnr-chevron-right"></span></a></span>
						<span sec:authorize="isAuthenticated()"><a th:href="@{/user/logout}">로그아웃</a></span>
					</div> <span class="scroll">Scroll Down</span></li>
				<li><img src="images/visual7.jpg" alt="코딩">
					<div class="txt">
						<p>Solve a Quiz</p>
						<h3>
							How many <br>do you know?<br>Write your Answer
						</h3>
						<span sec:authorize="isAnonymous()"><a th:href="@{/user/login}">Sign In<span class="lnr lnr-chevron-right"></span></a></span><br>
						<span sec:authorize="isAnonymous()"><a th:href="@{/user/register}">Sign up<span class="lnr lnr-chevron-right"></span></a></span>
						<span sec:authorize="isAuthenticated()"><a th:href="@{/user/logout}">로그아웃</a></span>
					</div> <span class="scroll">Scroll Down</span></li>
			</ul>
		</section>

		<!--   contents     -->
		<section class="contents">
			<div class="mainText animate" data-animate="fadeInUp"
				data-duration="1s" data-delay="0s">
				<h3>
					Great experience <br> build great brands.
				</h3>
				<p>
					홈페이지에서 사용한 것은<br class="mo"> 자바 기반의 스프링 프레임워크(Spring Data JPA)와<br class="mo"> 
					html, javascript, jquery를 이용했으며<br class="mo"> bootstrap, 구글폰트를 사용하였습니다. <span>SYSTUDIO</span>
				</p>
			</div>
			<div class="project">
				<div class="top">
					<h3 class="animate" data-animate="fadeInRight" data-duration="1s"
						data-delay="0s">
						Solve <br>Our Quiz
					</h3>
					<a href="#">More Questions<span class="lnr lnr-chevron-right"></span></a>
				</div>
				<ul class="animate" data-animate="fadeInUp" data-duration="1s"
					data-delay="0s">
					<li><a th:href="@{/user/quiz/capital}"> <img src="images/capital.jpg" alt="수도">
							<div class="name">
								<span>Subject</span>
								<h3>Capital</h3>
							</div>
					</a></li>
					<li><a th:href="@{/user/quiz/bmi}"> <img src="images/trivia1.png" alt="일반상식">
							<div class="name">
								<span>Subject</span>
								<h3>Trivia</h3>
							</div>
					</a></li>
					<li><a th:href="@{/user/quiz/proverb}"> <img src="images/proverb.jpg" alt="속담">
							<div class="name">
								<span>Subject</span>
								<h3>Proverb</h3>
							</div>
					</a></li>
					<li><a th:href="@{/user/quiz/nonsense}"> <img src="images/nonsense.jpg" alt="넌센스">
							<div class="name">
								<span>Subject</span>
								<h3>Nonsense</h3>
							</div>
					</a></li>
				</ul>
			</div>
			<div class="partner">
				<h3>사이트 모음</h3>
				<ul class="animate" data-animate="fadeInLeft" data-duration="2s"
					data-delay="0s">
					<li><a href="https://www.facebook.com"><img src="images/facebook.png" alt = "facebook"> </a></li>
					<li><a href="https://www.netflix.com"><img src="images/netflix.png" alt = "netflix"></a></li>
					<li><a href="https://www.amazon.com"><img src="images/amazon.png" alt = "amazon"></a></li>
					<li><a href="https://www.google.com"><img src="images/google.png" alt = "google"></a></li>
					<li><a href="https://www.kakao.com"><img src="images/kakao.jpg" alt = "kakao"></a></li>
					<li><a href="https://www.baemin.com"><img src="images/baemin.png" alt = "baemin"></a></li>
					<li><a href="https://www.coupang.com"><img src="images/coupang.png" alt = "coupang"></a></li>
					<li><a href="https://www.naver.com"><img src="images/naver.png" alt = "naver"></a></li>
				</ul>
			</div>
			<div class="contact animate" data-animate="fadeIn" data-duration="2s"
				data-delay="0s">
				<div class="inner">
					<h3>문제은행 사이트입니다.</h3>
					<p class="tel">010.1988.0701</p>
					<p>
						홈페이지는 반응형으로 구현하였으며 <br> 프레임 워크는 SPRING JPA를 기반으로 하였으며<br> thymeleaf, Mysql, html, javaScript, CSS, Jquery
						등을 사용하였습니다.
					</p>
				</div>
			</div>
		</section>
	</div>
	</div>
</body>
</html>